$bg-color: #050014ee;
$active-link: #5A74EF;
$light-blue: #24123b;
$white: #fff;
$grayish-blue: #8c8298;
$Light-grayish-blue: #8c829858;

$Regular: 400;
$Medium: 500;
$Bold: 700;

$fs-sm: 0.8rem;
$fs-md: 0.9rem;
$fs-lg: 1.5rem;
$fs-xl: 2rem;